*
 {
    box-sizing: border-box;
 }
 body {
    margin: 0;
 }
 @font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
 }
 :root {
    --fontFamilyNumber1: montserrat;
 }
header {
    background-color: #8691A0;
    height: 70px;
    display: flex;
}
@media screen and (min-width: 992px) {
    header {
        justify-content: space-between;
    }
    main ul { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
    }   
}
@media screen and (min-width: 768px) and (max-width: 992px){
    main ul { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
    }   
}
 .logo {
    width: 50px;
    height: 50px;
    margin: 12px 0 0 20px;
 } 
header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 1.3rem;
}
header a {
    padding: 1rem;
    color: white;
    font-family: var(--fontFamilyNumber1);
    text-decoration: none;
    font-size: medium;
}

main {
     min-height: calc(100vh - 70px - 50px);
     background-color: #FAF5F0;
}
main ul {
    height: auto;
    margin: 0;
    display: grid;
    gap: 90px;
    width: 100%;
    max-width: 100%;
    padding: 4rem 1rem;
    list-style: none;
}
main ul li {
    background-color: rgb(153, 212, 153);
     height: 260px;
}
main ul li p {
    max-width: 100%;
}
main article {
    display: flex;
    justify-content: space-between;
    background-color: #D5D8DB;
    width: 95%;
    margin: 0 auto;
    padding: 0.8rem;
}
main article img {
    width: 20px;
    height: 20px
}
main article p {
    margin: 0;

}
footer {
    background-color: #8691A0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    margin: 0;
    color: white;
    font-family: var(--fontFamilyNumber1);
    font-weight: bold;
    padding: 1rem;
}
