*
 {
    box-sizing: border-box;
 }
 body {
    margin: 0;
 }
 @font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
 }
 :root {
    --fontFamilyNumber1: montserrat;
 }
header {
    background-color: #8691A0;
    height: 11vh;
    display: flex;
}
@media screen and (min-width: 992px) {
    header {
        justify-content: space-between;
    }
    .logo {
        /* width: 200px;
        height: 200px; */
    }
}
    
 .logo {
    width: 2rem;
    height: 2rem;
    margin: 12px 0 0 20px;
 } 
header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 1.3rem;
}
header a {
    padding: 1rem;
    color: white;
    font-family: var(--fontFamilyNumber1);
    text-decoration: none;
    font-size: medium;
}

main {
    height: 81vh;
    background-color: #FAF5F0;
}
main ul {
    height: 90%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
main article {
    display: flex;
    justify-content: space-between;
    background-color: #D5D8DB;
    width: 95%;
    margin: 0 auto;
}
main article img {
    width: 20px;
    height: 20px
}
main article p {
    margin: 0;

}
footer {
    background-color: #8691A0;
    height: 8vh;
        display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    margin: 0;
    color: white;
    font-family: var(--fontFamilyNumber1);
    font-weight: bold;
}
